/*

Theme Name: Ajude a Maju
Theme URI: www.ajudeamaju.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: 
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: ajudeamju
Tags:

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Framework v1)
--------------------------------------------
**** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'K2D', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
}

/* CRIAÇÃO DE VARIÁVEIS */
  :root{
    /* FONTES */
    --monstserrat:'Montserrat', sans-serif;
    --k2d:'K2D', sans-serif;

    /* CORES PRINCIPAIS */
    --rosaclaro:#ffcae0;
    --rosaescuro:#ffbdd9;
    --corbtcomprar:#ffc1db;
    --cinzaprincipal:#a4a4a4;
    --azulrodape:#729eab;
    --rosaproduto:#ffc1db;
  }

/* BODY */
  body{
  
  }

/*COPYRIGHT*/
  .copyright{

  }

/*PG*/
  .pg{

  }

/*EXTRAS*/

/*@MEDIA QUERY*/
  @media(max-width: 1200px){

  }

  @media(max-width: 991px){
  
  }
  
  @media(max-width: 768px){
  
  }

  @media(max-width: 425px){
  
  }

  @media(max-width: 320px){
  
  }
