	<head>

		<!-- META -->
		<meta charset="UTF-8">

		<!-- TÍTULO -->
		<title>Footer Maju Loja</title>

		<!-- FONTS -->
		<link href="https://fonts.googleapis.com/css?family=K2D:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/owl.carousel.css" />
		<link rel="stylesheet" type="text/css" href="../css/hover.css"/>

		<!-- JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="../js/owl.carousel.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="https://matthewelsom.com/assets/js/libs/instafeed.min.js"></script>
		<script src="../js/geral.js"></script>
		<link rel="stylesheet" href="../css/estilos/footer.css">	
	</head>
	<body>
		
		
		<!-- RODAPÉ -->
		<footer class="rodape">
			<div class="container">
				<div class="conteudo-container">
					<div class="row">
						<div class="col-md-2 col-xs-4">
							<div class="minhaConta conteudo">
								<p>MINHA CONTA</p>
								<a href="#">Sobre a Loja</a>
								<a href="#">Minha Conta</a>
								<a href="#">Meus Pedidos</a>
							</div>
						</div>
						<div class="col-xs-4 col-md-2">
							<div class="produtosRodape conteudo">
								<p>PRODUTOS</p>
								<a href="#">Categorias</a>
								<a href="#">Produtos</a>
								<a href="#">Para que?</a>
								<a href="#">Lorem ipsum</a>
							</div>
						</div>
						<div class="col-xs-4 col-md-2">
							<div class="produtosRodape conteudo">
								<p>PRODUTOS</p>
								<a href="#">Categorias</a>
								<a href="#">Produtos</a>
								<a href="#">Para que?</a>
								<a href="#">Lorem ipsum</a>
							</div>
						</div>
						<div class="col-sm-6 col-md-2 desk">
							<div class="imagensInstagramRodape">
								<p>INTAGRAM</p>
								<div class="instagramFooter">
									<img src="../img/instagram.png" alt="#">
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-2">
							<div class="paginaFacebookRodape">
								<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fajudeamaju%2F&tabs=timeline&width=340&height=270&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1824562047656616" width="340" height="270" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
							</div>
						</div>
					</div>
					<div class="formasPagamento">
						<p>FORMAS DE PAGAMENTO</p>
						<ul>
							<!-- IMAGEM DO CARTAO -->
							<li><img src="../img/cartao1.png" alt="#"></li>
							<li><img src="../img/cartao2.png" alt="#"></li>
							<li><img src="../img/cartao3.png" alt="#"></li>
							<li><img src="../img/cartao4.png" alt="#"></li>
							<li><img src="../img/cartao5.png" alt="#"></li>
							<li><img src="../img/cartao6.png" alt="#"></li>
							<li><img src="../img/cartao7.png" alt="#"></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</body>

<div id="instafeed">
	
</div>