	<head>
		<!-- META -->
		<meta charset="UTF-8">
		<!-- FONTS -->
		<link href="https://fonts.googleapis.com/css?family=K2D:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/owl.carousel.css" />
		<link rel="stylesheet" type="text/css" href="../css/hover.css"/>

		<!-- JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="../js/owl.carousel.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/geral.js"></script>
		<link rel="stylesheet" href="../css/estilos/topo.css">
	
	</head>

	<!-- TOPO -->
	<header class="topo">
		<div class="containerMenu">
			<div class="row">
				<div class="intro">
					<ul>
						<li><a href="#">Quem Somos</a></li>
						<li><a href="#">Portal da Maju</a></li>
						<li><a href="#">Entrar</a></li>
					</ul>
				</div>

				<!-- LOGO -->
				<div class="menu-topo">
					<div class="row">
						<div class="col-md-2">
							<div class="logo">
								<a href="#">
									<img class="img-responsive" src="../img/logo.png" alt="Logo Ajuda Maju">
								</a>
							</div>
						</div>
						<!-- MENU -->	
						<div class="col-md-4">
							<div class="navbar" role="navigation">	
								<!-- MENU MOBILE TRIGGER -->
								<button type="button" id="botao-menu" class="navbar-toggle collapsed hvr-pop" data-toggle="collapse" data-target="#collapse">
									<span class="sr-only"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<!-- MENU MOBILE -->
								<div class="row navbar-header">			
									<nav class="collapse navbar-collapse" id="collapse">
										<ul class="nav navbar-nav">			
											<li><a href="#" class="" title="Início">CALÇADO</a></li>
											<li><a href="#" class="" title="A Marca">ROUPAS</a></li>
											<li><a href="#" class="" title="Cardápio">ACESÓRIOS</a></li>
											<li><a href="#" class="" title="Reserva Agora">OUTLET</a></li>
										</ul>
									</nav>						
								</div>
							</div>
						</div>
						<div class="col-md-5 col-sm-8">
							<div class="busca">
								<input class="sub" type="submit" name="Submiter busca" value="">
								<input class="campo" type="text" name="Busca" placeholder="Faça sua busca aqui">
							</div>
						</div>
						<div class="col-md-1 col-sm-4">
							<div class="carrinho">
								<figure>
									<a href="#"><img src="../img/sacola.png" alt="Sacola de compra"></a>
								</figure>
								<p>0</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>