@import url("../site.css");

.bannerDestaqueInicial {

}
	.bannerDestaqueInicial .carrosselBannerInicial {

	}
		.bannerDestaqueInicial .carrosselBannerInicial .item {

		}
			.bannerDestaqueInicial .carrosselBannerInicial .item figure {

			}
				.bannerDestaqueInicial .carrosselBannerInicial .item figure img {
				    width: 100%;
				}