@import url("../site.css");

.bannerDestaqueCategoria {

}
	.bannerDestaqueCategoria .carrosselBannerCategoria {

	}
		.bannerDestaqueCategoria .carrosselBannerCategoria .item {

		}
			.bannerDestaqueCategoria .carrosselBannerCategoria .item figure {

			}
				.bannerDestaqueCategoria .carrosselBannerCategoria .item figure img {
				    width: 100%;
				}