@import url("../site.css");

.carrosselProdutosRelacionados {
	font-family: var(--monstserrat);
}
	.carrosselProdutosRelacionados .titulo {
	    font-family: var(--k2d);
	    font-size: 65px;
	    color: var(--cinzaprincipal);
	    text-align: center;
        margin: 15px auto;
	}
	.carrosselProdutosRelacionados p {

	}
		.carrosselProdutosRelacionados {

		}
			.carrosselProdutosRelacionados .produtos {
		        text-align: center;
			    max-width: 900px;
			    margin: 0 auto;
			}
				.carrosselProdutosRelacionados .item {
				    width: 100%;
					display: inline-block;
				}
					.carrosselProdutosRelacionados .item a {
						text-decoration: none;
					}
						.carrosselProdutosRelacionados .item figure {
							width: 100%;
						    max-width: 250px;
						    margin: 0 auto;
						    display: block;
						}
							.carrosselProdutosRelacionados .item figure img {
								display: inline-block;
							    width: 100%;
							    max-width: 250px;
							}
				.carrosselProdutosRelacionados .produtos .item .nomeProduto {
					text-align: center;
				    padding: 2px 0 5px;
				    border-bottom: 2px solid var(--rosaclaro);
				    width: 100%;
				    max-width: 249px;
				    margin: 0 auto;
				    font-size: 17px;
			        color: #252525;
			        font-weight: 500;
				}
				.carrosselProdutosRelacionados .produtos .item .preco-btn {
					margin: 2px auto;
				    width: 100%;
				    max-width: 248px;
				    display: block;
				}
					.carrosselProdutosRelacionados .produtos .item .precoProduto {
						text-align: center;
					    display: inline;
					    font-weight: 700;
					    color: var(--rosaclaro);
					    font-size: 28px;
					    padding: 5px 7px 0 0;
					}
					.carrosselProdutosRelacionados .produtos .item .comprarProduto {
						display: inline;
					    border: none;
					    background-color: var(--rosaclaro);
					    padding: 5px 23px;
					    border-radius: 5px;
					    font-size: 14px;
					    color: white;
					    font-family: var(--monstserrat);
					    cursor: pointer;
					}
/*@MEDIA QUERY*/
  @media(max-width: 1200px){

  }

  @media(max-width: 991px){
  	
  }
  
  @media(max-width: 768px){
  	.carrosselProdutosRelacionados .produtos {
	    max-width: 608px;
	}
	.carrosselProdutosRelacionados .titulo {
	    font-size: 59px;
	}
  }

  @media(max-width: 520px){
  	
  }

  @media(max-width: 425px){
  	.carrosselProdutosRelacionados .titulo {
	    font-size: 48px;
	}
	.carrosselProdutosRelacionados .produtos {
	    max-width: 335px;
	}
	.carrosselProdutosRelacionados .produtos .item .comprarProduto {
	    font-size: 13px;
	}
	.carrosselProdutosRelacionados .produtos .item .precoProduto {
	    font-size: 25px;
	}
	.carrosselProdutosRelacionados .produtos .item .preco-btn {
	    max-width: 230px;
	}
	.carrosselProdutosRelacionados .item figure img {
	    max-width: 230px;
	}
  }

  @media(max-width: 320px){
  	.carrosselProdutosRelacionados .titulo {
	    font-size: 40px;
	}
  }