@import url("../site.css");
/*RODAPÉ*/
  .rodape {
    font-family: var(--monstserrat);
    color: white;
    background-color: #238798c9;
    background-image: url(../../img/coracoes.png);
    background-size: contain !important;
    background-position: center 0px;
    padding: 282px 0 40px;
    background-repeat: no-repeat;
    position: relative;
  }
  .rodape::before {
  	content: "";
  	background-image: url(../../img/listra-borboletas.png);
  	background-size: cover;
  	position: absolute;
  	bottom: auto;
  	background-repeat: no-repeat;
  	display: block;
  	width: 100%;
  	height: 231px;
  	top: 0;
  }
  .rodape::after {
    content: "";
    background-image: url(../../img/jardim.png);
    background-size: cover;
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    height: 136px;
  }
  	.rodape .conteudo-container {

  	}
	  	.rodape .conteudo-container .conteudo {
		    margin: 0 auto;
		    width: 100%;
		    max-width: 160px;
	  	}
	  		.rodape .conteudo-container .conteudo p {
			    font-size: 20px;
	    		font-weight: 500;
	  		}
	  		.rodape .conteudo-container .conteudo a {
		        display: block;
			    color: white;
			    font-size: 13px;
			    line-height: 30px;
			    font-weight: 600;
			    text-decoration: none;
	  		}
	  	.rodape .conteudo-container .minhaConta {

	  	}
	  		.rodape .conteudo-container .minhaConta p {

	  		}
	  			.rodape .conteudo-container .minhaConta a {

	  			}
	  	.rodape  .conteudo-container.produtosRodape {

	  	}
	  		.rodape .conteudo-container .produtosRodape p {

	  		}
	  		.rodape .conteudo-container .produtosRodape a {

	  		}
		.rodape .conteudo-container .imagensInstagramRodape {

		}
	  		.rodape .conteudo-container .imagensInstagramRodape p {
			    font-size: 17px;
			    font-weight: 500;
			    text-align: center;
	  		}
	  		.rodape .conteudo-container .imagensInstagramRodape .instagramFooter {
				padding: 0 10px;
	  		}
	  		.rodape .conteudo-container .imagensInstagramRodape .instagramFooter img{
	  			width: 100%;
	  			height: auto;
	  		}
	  	.rodape .conteudo-container .paginaFacebookRodape {
	  		width: 100%;
	  		padding: 0 10px;
	  	}
	  
	  	.rodape .conteudo-container .paginaFacebookRodape iframe {

	  		min-width: 100% !important;
	  		min-height: 300px !important;
	  	}
	  	.rodape .conteudo-container .formasPagamento {
		    margin: 40px auto;
	        padding: 0 0 15px;
	  	}
	  		.rodape .conteudo-container .formasPagamento p {
			    font-size: 16px;
			    font-weight: 300;
			    font-family: var(--k2d);
			    display: inline;
		        padding-right: 5px;
	  		}
	  		.rodape .conteudo-container .formasPagamento ul {
		        width: 100%;
			    max-width: 500px;
			    display: inline;
	  		}
	  			.rodape .conteudo-container .formasPagamento ul li {
				    list-style: none;
	    			display: inline;
	  			}
	  				.rodape .conteudo-container .formasPagamento ul li img {
				        margin: 0 auto;
					    width: 100%;
					    max-width: 52px;
					    padding: 3px;
	  				}

@media(max-width: 991px){
	.rodape .conteudo-container .imagensInstagramRodape {
		margin-top: 30px;
	}
	.rodape .conteudo-container .paginaFacebookRodape {
		margin-top: 66px;
	}
	.rodape::before{
		height: 108px;
	}
	.rodape::after{
		height: 63px;
	}
	.rodape{
		padding: 212px 0 40px;
	}
}
@media(max-width: 768px){
	.desk,.paginaFacebookRodape{
		display: none;
	}
	.rodape {
		padding: 212px 10px 40px;
	}
	.rodape::before, .rodape::after{
		width: 98%;
	}
	.rodape .conteudo-container .formasPagamento {
		text-align: center;
	}
}
@media(max-width: 610px){
	.rodape .conteudo-container .formasPagamento p {
		display: block;
		text-align: center;
	}
	.rodape .conteudo-container .conteudo p {
		font-size: 17px;
	}
	.rodape .conteudo-container .conteudo a {
		font-size: 12px;
	}
	.rodape {
		padding: 92px 10px 40px;
	}
	.rodape::before {
		height: 56px;
	}
	.rodape::after {
		height: 35px;
	}
	.rodape::before, .rodape::after {
		width: 95%;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}
@media(max-width: 445px){
	.rodape .conteudo-container .conteudo p {
		font-size: 15px;
		text-align: center;
	}
	.rodape .conteudo-container .conteudo a {
		font-size: 12px;
		text-align: center;
	}
	.rodape .conteudo-container .formasPagamento{
		margin: 40px 0 0;
	}
	.rodape .conteudo-container .formasPagamento ul li {
		display: inline-block;
		margin-top: 10px;
	}
	.rodape .conteudo-container .formasPagamento p {
		font-size: 14px;
	}
}

@media(max-width: 320px){
	.rodape .conteudo-container .conteudo a {
		font-size: 11px;
	}
	.rodape .conteudo-container .conteudo p {
		font-size: 12px;
	}
}