@import url("../site.css");

.pg-produto {

}
	.pg-produto .secao-produto {
	    background-color: #f3f3f3;
	}
		.pg-produto .secao-produto .galeriaProduto {

		}
			.pg-produto .secao-produto .galeriaProduto .imagensEsquerda {
			    display: block;
			}
				.pg-produto .secao-produto .galeriaProduto .imagensEsquerda ul {
		            margin: 85px auto;
				}
					.pg-produto .secao-produto .galeriaProduto .imagensEsquerda ul li {
				    	list-style: none;
					}
						.pg-produto .secao-produto .galeriaProduto .imagensEsquerda ul li .img-esquerda {
		                    margin: 20px auto 0px;
						    width: 100%;
						    max-width: 102px;
						}
							.pg-produto .secao-produto .galeriaProduto .imagensEsquerda ul li .img-esquerda img {
					            width: 100%;
							    max-width: 100px;
							    display: block;
						        cursor: pointer;
							}
						.span-esquerda {
							border-top: 2px solid transparent;
							width: 100%;
						    max-width: 78px;
						    display: block;
						    margin: 2px auto 0;
						}
						.img-esquerda:hover + .span-esquerda {
						    border-top: 2px solid var(--rosaproduto);
						    display: block;
						    -webkit-transition: .2s;
						    -o-transition: .5s;
						    transition: all .2s;
						    transform: scaleX(1);
						}
						.img-esquerda:active + .span-esquerda {
						    border-top: 2px solid var(--rosaproduto);
						    display: block;
						    -webkit-transition: .2s;
						    -o-transition: .5s;
						    transition: all .2s;
						    transform: scaleX(1);
						}
			.pg-produto .secao-produto .galeriaProduto .imagemProduto {
			    display: block;
			}
				.pg-produto .secao-produto .galeriaProduto .imagemProduto figure {
				    margin: 20px auto;
				}
					.pg-produto .secao-produto .galeriaProduto .imagemProduto figure img {
						width: 100%;
						max-width: 410px;
					}
			.pg-produto .atributosProduto {
		        font-family: var(--k2d);
			    width: 100%;
			    max-width: 518px;
			    margin: 0 auto;
			}
				.pg-produto .atributosProduto .attrPreco {

				}
					.pg-produto .atributosProduto .attrPreco .nomeProduto {
					    font-size: 42px;
					    font-weight: 400;
					    margin: 15px auto 0;
					}
					.pg-produto .atributosProduto .attrPreco .precoProduto {
						font-size: 44px;
					    font-weight: 500;
					    color: var(--rosaproduto);
					}
				.pg-produto .atributosProduto .attrTamanho {
			        border-top: 2px solid var(--rosaproduto);
				    border-bottom: 2px solid var(--rosaproduto);
				    width: 100%;
				    max-width: 570px;
				    padding: 24px 0;
				}
					.pg-produto .atributosProduto .attrTamanho span {
					    font-size: 20px;
	    				font-weight: 500;
					}
						.pg-produto .atributosProduto .attrTamanho .tamanhosProduto {
						    display: block;
						    width: 100%;
						    margin: 6px auto 5px;
						}
						.pg-produto .atributosProduto .attrTamanho ul li {
						    list-style: none;
						    display: inline-block;
						    margin: 5px auto;
						    text-align: center;
						    width: 100%;
						    max-width: 80px;
						    border: 1px solid black;
						    border-radius: 22px;
						    margin-right: 8px;
						}
							.pg-produto .atributosProduto .attrTamanho ul li a {
							    color: black;
							    text-decoration: none;
							    font-weight: 600;
							    font-size: 12px;
							    display: block;
							    border: 2px solid white;
							    border-radius: 20px;
							    padding: 3px 5px;
							}
							.pg-produto .atributosProduto .attrTamanho ul li a:hover, .pg-produto .atributosProduto .attrTamanho ul li a:focus {
								background: var(--cinzaprincipal);
								border: 2px solid white;
								-webkit-transition: ease-in-out .4s;
								-o-transition:ease-in-out .4s;
								transition:ease-in-out .4s;
								color: #fff
							}
				.pg-produto .atributosProduto .calcularFrete {

				}
					.pg-produto .atributosProduto .calcularFrete p {
					    font-size: 16px;
	    				padding: 16px 0 2px;
					}
					.pg-produto .atributosProduto .calcularFrete input {
				        border-radius: 73px;
					    border: 1px solid black;
				        padding: 2px 6px;
					    width: 100%;
					    max-width: 82px;
					    font-size: 12px;
					}
					.pg-produto .atributosProduto .calcularFrete button {
					    border: none;
					    background-color: var(--cinzaprincipal);
					    border-radius: 17px;
					    padding: 3px 10px;
					    font-size: 14px;
					    color: white;
					    margin-left: 5px;
					}
				.pg-produto .atributosProduto .comprarProduto {
			        margin: 120px auto 30px;
	    			display: block;
				}
					.pg-produto .atributosProduto .comprarProduto button {
					    background-color: var(--rosaproduto);
					    border: none;
					    border-radius: 32px;
					    font-size: 27px;
					    padding: 15px;
					    width: 100%;
					    max-width: 570px;
					    color: white;
					}
	.pg-produto .descricaoProduto {
	    display: block;
	    margin: 0 auto 25px;
	    border-top: 2px solid var(--rosaproduto);
	    border-bottom: 2px solid var(--rosaproduto);
	    padding: 35px 0;
	}
		.pg-produto .descricaoProduto .titulo {
	        font-size: 30px;
		    color: black;
		    font-weight: 500;
		}
		.pg-produto .descricaoProduto p {
			font-family: var(--k2d);
		    font-size: 13px;
		    color: var(--cinzaprincipal);
		    font-weight: 600;
		}

.mobile{
	display: none;
}
@media(max-width: 1200px){
	.pg-produto .secao-produto .galeriaProduto .imagensEsquerda ul {
		margin: 0 auto;
	}
	.pg-produto .atributosProduto {
		font-family: var(--k2d);
		width: 100%;
		max-width: 518px;
		margin: 0 auto;
		padding: 0 30px;
	}
	.pg-produto .atributosProduto .comprarProduto {
		margin: 30px auto 30px;
	}
	.pg-produto .atributosProduto .comprarProduto button {
		font-size: 20px;
		max-width: 320px;
		margin: 0 auto;
		display: block;
	}
	.pg-produto .secao-produto{
		padding-bottom: 30px;
	}
}
@media(max-width: 991px){
	.pg-produto .secao-produto .galeriaProduto .imagensEsquerda {
		padding: 0 10px;
	}
	.pg-produto .atributosProduto .comprarProduto button {
		font-size: 17px;
		max-width: 230px;
		margin: 0 auto;
		padding: 9px;
	}
	.pg-produto .atributosProduto .comprarProduto {
		margin: 30px auto 0px;
	}
}
@media(max-width: 768px){
	.mobile{
		display: block;
	}
	.desktop {
		display: none;
	}
	.pg-produto .secao-produto .galeriaProduto .imagemProduto figure {
		margin: 20px auto;
		text-align: center;
		padding: 0 10px;
	}
	.pg-produto .secao-produto .galeriaProduto .imagensEsquerda ul {
		text-align: center;
	}
	.pg-produto .secao-produto .galeriaProduto .imagensEsquerda ul li .img-esquerda {
		margin: 0px auto 0px;
	}
	.pg-produto .secao-produto .galeriaProduto .imagensEsquerda ul li {
		display: inline-block;
		padding: 0 5px;
	}
	.pg-produto .atributosProduto {
		text-align: center;
	}
	.pg-produto .descricaoProduto {
		padding: 35px 10px;
		text-align: center;
	}
}
@media(max-width: 610px){
	.pg-produto .atributosProduto .attrPreco .nomeProduto {
		font-size: 32px;
	}
	.pg-produto .atributosProduto .attrPreco .precoProduto {
		font-size: 34px;
	}
	.pg-produto .descricaoProduto .titulo {
		font-size: 25px;
	}
}
@media(max-width: 445px){
	.pg-produto .atributosProduto .comprarProduto button {
		font-size: 14px;
		max-width: 180px;
	}
	.pg-produto .atributosProduto .attrPreco .nomeProduto {
		font-size: 30px;
	}
	.pg-produto .atributosProduto .attrPreco .precoProduto {
		font-size: 29px;
	}
}
@media(max-width: 425px){
	.pg-produto .secao-produto .galeriaProduto .imagensEsquerda ul li .img-esquerda img {
		max-width: 80px;
	}
	.pg-produto .descricaoProduto .titulo {
		font-size: 21px;
	}
}
