@import url("../site.css");

.listaDeProdutosInicial {
	font-family: var(--monstserrat);
    border-top: 2px solid var(--rosaproduto);
    margin-top: 15px;
}
	.listaDeProdutosInicial ul {
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: 0;
		text-align: center;
		padding-bottom: 40px;
	}
		.listaDeProdutosInicial ul li {
			display: inline-block;
			padding: 0 20px;
			width: 25%;
			margin-top: 20px;
		}	
			.listaDeProdutosInicial ul li a{
				text-decoration: none;
				color:initial;
			}
			.listaDeProdutosInicial ul li figure {
				width: 100%;
			    max-width: 250px;
			    margin: 0 auto;
			    display: block;
			}
				.listaDeProdutosInicial ul li figure img {
					display: inline-block;
				    width: 100%;
				    max-width: 250px;
				}
			.listaDeProdutosInicial ul li .nomeProduto {
				text-align: center;
			    padding: 2px 0 5px;
			    border-bottom: 2px solid var(--rosaclaro);
			    width: 100%;
			    max-width: 249px;
			    margin: 0 auto;
			    font-size: 17px
			}
			.listaDeProdutosInicial ul li .preco-btn {
				margin: 2px auto;
			    width: 100%;
			    max-width: 248px;
			    display: block;
			}
				.listaDeProdutosInicial ul li .preco-btn .precoProduto {
					text-align: center;
				    display: inline;
				    font-weight: 700;
				    color: var(--rosaclaro);
				    font-size: 28px;
				    padding: 5px 6px 0 0;
				}
				.listaDeProdutosInicial ul li .preco-btn .btnComprar {
					display: inline;
				    border: none;
				    background-color: var(--rosaclaro);
				    padding: 5px 23px;
				    border-radius: 5px;
				    font-size: 14px;
				    color: white;
				    font-family: var(--monstserrat);
				    cursor: pointer;
				}
.paginacaoProdutos {
    border-top: 2px solid var(--rosaproduto);
    padding: 12px 10px;
}
	.paginacaoProdutos .prox {
		text-align: right;
	}
	.paginacaoProdutos .ant {

	}
		.paginacaoProdutos .prox a {
	        padding-right: 2px;
		    font-family: var(--k2d);
		    font-weight: 500;
		    font-size: 13px;
		    text-decoration: none;
		    color: var(--cinzaprincipal);
		    display: inline-block;
		}
		.paginacaoProdutos .ant a {
		    padding-left: 2px;
		    font-family: var(--k2d);
		    font-weight: 500;
		    font-size: 13px;
		    text-decoration: none;
		    color: var(--cinzaprincipal);
		    display: inline-block;
		}
		.paginacaoProdutos .ant i {
	        color: var(--cinzaprincipal);
		    font-size: 18px;
		    display: inline-block;
		    vertical-align: middle;
		}
		.paginacaoProdutos .prox i {
		    color: var(--cinzaprincipal);
			font-size: 18px;
			display: inline-block;
    		vertical-align: middle;
		}
	.paginacaoProdutos ul {
	    text-align: center;
	}
		.paginacaoProdutos ul li {
			list-style: none;
			display: inline-block;
		}
			.paginacaoProdutos ul li a {
			    text-decoration: none;
			    border: 1px solid var(--cinzaprincipal);
			    color: var(--cinzaprincipal);
			    border-radius: 100%;
			    padding: 4px 1px 2px 1px;
			    display: block;
			    width: 24px;
			    height: 24px;
			    font-size: 10px;
			}
			.paginacaoProdutos ul li a:hover, .paginacaoProdutos ul li a:focus {
				background-color: var(--cinzaprincipal);
				color: white;
			}
@media(max-width: 991px){
	.listaDeProdutosInicial ul li {
		width: 33.3%;
		margin-top: 30px;
	}
}
@media(max-width: 610px){
	.listaDeProdutosInicial ul li {
		width: 50%;
	}
}
@media(max-width: 445px){
	.listaDeProdutosInicial ul li{
		width: 100%;
	}
	.listaDeProdutosInicial ul li .preco-btn .btnComprar {
		font-size: 13px;
	}
	.listaDeProdutosInicial ul li .preco-btn .precoProduto {
		font-size: 23px;
	}
}