@import url("../site.css");

.pg-categoria {

}
	.pg-categoria .menu-pagi-topo {
	    width: 100%;
	    display: inline-flex;
	    padding: 6px 0;
	}
		.pg-categoria .menu-pagi-topo .filtro-preco {
            width: 50%;
		    display: inline-block;
		    margin-top: 20px;
		    color: var(--cinzaprincipal);
			font-size: 9px;
			font-family: var(--k2d);
			font-weight: 600;
		}
		.pg-categoria .menu-pagi-topo .filtro-preco:before {
		    content: "";
		    background-image: url('../../img/seta.png');
		    background-repeat: no-repeat;
		    background-size: 18px;
		    background-position: 5px;
		    width: 26px;
		    height: 12px;
		    display: block;
		    position: absolute;
		    top: 31px;
		    left: 108px;
		}
			.pg-categoria .menu-pagi-topo .filtro-preco select {
	            border-radius: 14px;
				border: 2px solid var(--cinzaprincipal);
				padding: 3px 0px 3px 70px;
				width: 145px;
				-webkit-appearance: none;
			}
				.pg-categoria .menu-pagi-topo .filtro-preco select option {

				}
		.pg-categoria .menu-pagi-topo .paginador {
            width: 50%;
    		display: inline-block;
		    text-align: right;
		}
			.pg-categoria .menu-pagi-topo .paginador .num {
			    display: inline-block;
			}
				.pg-categoria .menu-pagi-topo .paginador .num ul {
				    text-align: right;
			        margin: 19px auto 0;
				    padding-right: 10px;
				}
					.pg-categoria .menu-pagi-topo .paginador .num ul li {
						list-style: none;
						display: inline-block;
						text-align: center;
					}
						.pg-categoria .menu-pagi-topo .paginador .num ul li a {
							text-decoration: none;
						    border: 1px solid var(--cinzaprincipal);
						    color: var(--cinzaprincipal);
						    border-radius: 100%;
				            padding: 3px 2px 3px 2px;
						    display: block;
				            width: 22px;
						    height: 22px;
						    font-size: 10px;
						}
						.pg-categoria .menu-pagi-topo .paginador .num ul li a:hover,.pg-categoria .menu-pagi-topo .paginador ul li a:focus {
							background-color: var(--cinzaprincipal);
							color: white;
						}
				.pg-categoria .menu-pagi-topo .paginador .prox {
    	   	        display: inline-block;
				}
					.pg-categoria .menu-pagi-topo .paginador .prox a {
				        padding-right: 2px;
					    font-family: var(--k2d);
					    font-weight: 500;
					    font-size: 12px;
					    text-decoration: none;
					    color: var(--cinzaprincipal);
					    display: inline-block;
					}
					.pg-categoria .menu-pagi-topo .paginador .prox i {
			            color: var(--cinzaprincipal);
					    font-size: 15px;
					    display: inline-block;
					    vertical-align: middle;
					}
	.pg-categoria .produtosCategoria {
	    font-family: var(--monstserrat);
	    border-top: 2px solid var(--rosaproduto);
	}
		.pg-categoria .produtosCategoria ul {
			list-style: none;
			font-size: 0;
			display: block;
			width: 100%;
			padding: 0 10px;
			margin: 0;
		}
			.pg-categoria .produtosCategoria ul .produto {
				display: inline-block;
				width: 33.3%;
			    margin-top: 30px;
			}
				.pg-categoria .produtosCategoria ul .produto a{
					text-decoration: none;
					color: initial;
				}
				.pg-categoria .produtosCategoria ul .produto figure {
				    width: 100%;
				    max-width: 250px;
				    margin: 0 auto;
				    display: block;
				}
					.pg-categoria .produtosCategoria ul .produto figure  .imagemDestaqueProduto {
					    display: inline-block;
					    width: 100%;
					    max-width: 250px;
					}
				.pg-categoria .produtosCategoria ul .produto .nomeProduto {
			        text-align: center;
				    padding: 2px 0 5px;
				    border-bottom: 2px solid var(--rosaclaro);
				    width: 100%;
				    max-width: 249px;
				    margin: 0 auto;
				    font-size: 17px
				}
				.pg-categoria .produtosCategoria ul .produto .preco-btn {
		   		    margin: 2px auto;
				    width: 100%;
				    max-width: 248px;
				    display: block;
				}
					.pg-categoria .produtosCategoria ul .produto .preco-btn .precoProduto {
			            text-align: center;
					    display: inline;
					    font-weight: 700;
					    color: var(--rosaclaro);
					    font-size: 28px;
					    padding: 5px 6px 0 0;
					}
					.pg-categoria .produtosCategoria ul .produto .preco-btn .btnComprar {
				        display: inline;
					    border: none;
					    background-color: var(--rosaclaro);
					    padding: 5px 23px;
					    border-radius: 5px;
					    font-size: 14px;
					    color: white;
					    font-family: var(--monstserrat);
					    cursor: pointer;
					}
					.pg-categoria .produtosCategoria ul .produto .preco-btn .btnComprar:before {

					}
		.pg-categoria .produtosCategoria .paginacaoProdutos {
		 	border-top: 2px solid var(--rosaproduto);
		    padding: 14px 10px;
		    margin-top: 30px;
		}
			.pg-categoria .produtosCategoria .paginacaoProdutos .ant {

			}
				.pg-categoria .produtosCategoria .paginacaoProdutos .ant i {
					color: var(--cinzaprincipal);
				    font-size: 18px;
				    display: inline-block;
				    vertical-align: middle;
				}
				.pg-categoria .produtosCategoria .paginacaoProdutos .ant a {
					padding-left: 2px;
				    font-family: var(--k2d);
				    font-weight: 500;
				    font-size: 13px;
				    text-decoration: none;
				    color: var(--cinzaprincipal);
				    display: inline-block;
				}
			.pg-categoria .produtosCategoria .paginacaoProdutos .prox {
				text-align: right;
			}
				.pg-categoria .produtosCategoria .paginacaoProdutos .prox i {
					color: var(--cinzaprincipal);
				    font-size: 18px;
				    display: inline-block;
				    vertical-align: middle;
				}
				.pg-categoria .produtosCategoria .paginacaoProdutos .prox a {
					padding-right: 2px;
				    font-family: var(--k2d);
				    font-weight: 500;
				    font-size: 13px;
				    text-decoration: none;
				    color: var(--cinzaprincipal);
				    display: inline-block;
				}
				.pg-categoria .produtosCategoria .paginacaoProdutos ul {
					text-align: center;
				}
					.pg-categoria .produtosCategoria .paginacaoProdutos ul li {
						list-style: none;
						display: inline-block;
					}
						.pg-categoria .produtosCategoria .paginacaoProdutos ul li a {
							text-decoration: none;
						    border: 1px solid var(--cinzaprincipal);
						    color: var(--cinzaprincipal);
						    border-radius: 100%;
						    padding: 5px 0px 3px 1px;
						    display: block;
						    width: 24px;
						    height: 24px;
						    font-size: 10px;
						}
						.pg-categoria .produtosCategoria .paginacaoProdutos ul li a:hover, .pg-categoria .produtosCategoria .paginacaoProdutos ul li a:focus {
							background-color: var(--cinzaprincipal);
							color: white;
						}

@media(max-width: 1200px){
	.pg-categoria .produtosCategoria ul .produto {
		padding: 0 10px;
		text-align: center;
	}
	.pg-categoria .menu-pagi-topo .filtro-preco:before {
	    left: 26px;
	}
}
@media(max-width: 1199px) {
	.pg-categoria .menu-pagi-topo .filtro-preco:before {
	    left: 120px;
	}
}
@media(max-width: 991px){
	.pg-categoria .produtosCategoria ul .produto {
		padding: 0 5px;
	}
	.pg-categoria .menu-pagi-topo .filtro-preco:before {
	    left: 130px;
	}
}
@media(max-width: 768px) {
	.pg-categoria .menu-pagi-topo .filtro-preco:before {
	    left: 20px;
	}
}
@media(max-width: 610px){
	.pg-categoria .produtosCategoria ul .produto {
		width: 50%;
		margin-top: 20px;
	}
	.pg-categoria .menu-pagi-topo .filtro-preco:before {
	    left: 5px;
	}
}
@media(max-width: 445px){
	.pg-categoria .produtosCategoria ul .produto {
		width: 100%;
	}
	.pg-categoria .produtosCategoria ul .produto .preco-btn .precoProduto{
		font-size: 23px;
	}
}