@import url("../site.css");

.sidebar {
    font-family: var(--k2d);
}
	.sidebar .attrsSidebar {
	    border-top: 2px solid var(--rosaescuro);
        width: 100%;
	    max-width: 270px;
	    margin: 0 auto;
	    padding: 10px 0;
	}
		.sidebar .attrsSidebar p {
		    margin: 0 auto;
	        padding: 0px 0px 12px;
		}
		.sidebar .attrsSidebar ul {
		    list-style: none;
		}
			.sidebar .attrsSidebar ul li {

			}
				.sidebar .attrsSidebar ul li a {
				
				}
	.sidebar .categoriasSidebar {

	}
		.sidebar .categoriasSidebar p {
		    font-size: 20px;
    		font-weight: 500;
		}
		.sidebar .categoriasSidebar ul {

		}
			.sidebar .categoriasSidebar ul li {
		        text-indent: 30px;
			}
				.sidebar .categoriasSidebar ul li .linkCategoria {
					color: var(--cinzaprincipal);
    				text-decoration: none;
				    font-weight: 600;
				    font-size: 16px;
				}
				.sidebar .categoriasSidebar ul li .linkCategoria:hover, .sidebar .categoriasSidebar ul li .linkCategoria:focus {
					color: black;
					-webkit-transition: .2s;
					-o-transition: .2s;
					transition: .2s;
				}
	.sidebar .precoSidebar {

	}
		.sidebar .precoSidebar p {
			font-size: 20px;
    		font-weight: 500;
		}
		.sidebar .precoSidebar ul {

		}
			.sidebar .precoSidebar ul li {
				text-indent: 30px;
			}
				.sidebar .precoSidebar ul li .categoriaPreco {
					color: var(--cinzaprincipal);
    				text-decoration: none;
    				font-weight: 600;
				    font-size: 16px;
				}
				.sidebar .precoSidebar ul li .categoriaPreco:hover, .sidebar .precoSidebar ul li .categoriaPreco:focus {
					color: black;
				}
	.sidebar .coresProdutos {

	}
		.sidebar .coresProdutos p {
			font-size: 22px;
    		font-weight: 500;
		}
		.sidebar .coresProdutos ul {
            display: block;
		    width: 100%;
		    max-width: 207px;
		    margin: 0 auto;
		}
			.sidebar .coresProdutos ul li {
		        display: inline-block;
		        width: 32px;
    			height: 32px;
			}
				.sidebar .coresProdutos ul li a {
			        padding: 1px;
				    border: 1px solid transparent;
				    border-radius: 100%;
				    display: block;
			        width: 34px;
    				height: 34px;
				}
				.sidebar .coresProdutos ul li a:hover {
					border: 1px solid black;
					-webkit-transition: .2s;
					-o-transition: .2s;
					transition: .2s;
				}
					.sidebar .coresProdutos ul li a span {
					    display: block;
				        width: 30px;
    					height: 30px;
					    border-radius: 100%;
					    margin: 0 auto;
					}
	.sidebar .tamanhosProduto {

	}
		.sidebar .tamanhosProduto p {
	        font-size: 22px;
    		font-weight: 500;
		}
		.sidebar .tamanhosProduto ul {
		    display: block;
		    width: 100%;
		    max-width: 214px;
		    margin: 0 auto;
		}
			.sidebar .tamanhosProduto ul li {
                display: inline-block;
			    margin: 5px auto;
			    text-align: center;
			    width: 100%;
			    max-width: 90px;
			    border: 1px solid black;
			    border-radius: 22px;
			    margin-right: 8px;
			}
				.sidebar .tamanhosProduto ul li a {
			        color: black;
				    text-decoration: none;
				    font-weight: 600;
				    font-size: 15px;
				    display: block;
				    border: 2px solid white;
				    border-radius: 20px;
				    padding: 6px 0;
				}
				.sidebar .tamanhosProduto ul li a:hover,.sidebar .tamanhosProduto ul li a:focus {
					background: var(--cinzaprincipal);
					border: 2px solid white;
					-webkit-transition: .2s;
					-o-transition: .2s;
					transition: .2s;
				}
@media(max-width: 610px){
	.sidebar {
		text-align: center;
		padding: 0 10px;
	}
}