@import url("../site.css");
/* TOPO */
  .topo {

  }
  	.topo .intro {
    	background: linear-gradient(135deg, var(--rosaproduto), #fbc7dd6b);
        padding: 7px 0;
  	}
  		.topo .intro ul {
		    text-align: right;
		    margin: 0;
  		}
  			.topo .intro ul li {
  				display: inline-block;
			    padding: 0 10px;
  			}
  				.topo .intro ul li a {
  					font-size: 14px;
				    font-family: var(--k2d);
				    color: var(--rosaescuro);
				    text-decoration: none;
				    font-weight: 500;
  				}
  	.topo .menu-topo {
  		background: linear-gradient(135deg, var(--rosaescuro), var(--rosaclaro));
  	}
  	  	.topo .menu-topo .logo {

  	  	}
			.topo .menu-topo .logo a {
			    
			}
		  		.topo .menu-topo .logo a img {
	  			    margin: 10px auto 0;
				    width: 100%;
				    max-width: 140px;
		  		}
		.topo .menu-topo .navbar {
		    margin: auto;
		}
	  		.topo .menu-topo .navbar button {
	  			display: none;
	  		}
	  			.topo .menu-topo .navbar button span {

	  			}
			.topo .menu-topo .navbar .collapse {

			}
	  			.topo .menu-topo .navbar .collapse .nav {

	  			}
	  				.topo .menu-topo .navbar .collapse .nav li {

	  				}
	  					.topo .menu-topo .navbar .collapse .nav li a {
					        color: #f7f7f7;
						    font-family: var(--k2d);
						    font-weight: 700;
						    margin: 14px auto;
						    padding: 6px 10px;
						    position: relative;
	  					}
	  					.topo .menu-topo .navbar .collapse .nav li a:before {
					        content: "";
						    display: block;
						    height: 3px;
						    background: linear-gradient(90deg, #fee5f0, #ffc5dd);
						    position: absolute;
						    bottom: 0;
						    left: 0;
						    width: 0;
						    -webkit-transition: ease-in-out .3s;
						    -o-transition: ease-in-out .3s;
						    transition: ease-in-out .3s;
						    border-radius: 190px;
	  					}
	  					.topo .menu-topo .navbar .collapse .nav li a:hover:before {
	  						width: 100%;
	  					}
	  					.topo .menu-topo .navbar .collapse .nav li a:hover {
	  						background-color: transparent;
	  					}
	  		.topo .menu-topo .busca {
  			    font-size: 0;
	  		}
	  			.topo .menu-topo .busca .sub {
		            display: inline;
				    font-size: 13px;
				    width: 20px;
				    margin: 0;
				    border: none;
				    padding: 6px 20px;
				    vertical-align: middle;
				    background-color: #ffdae9;
				    background-image: url('../../img/busca.png');
				    background-repeat: no-repeat;
				    background-size: 20px;
				    border-radius: 10px 0 0 10px;
				    background-position: right;
	  			}
	  			.topo .menu-topo .busca .campo {
	                margin: 17px auto;
				    border: none;
				    border-radius: 0px 10px 10px 0px;
				    background: #ffdae9;
				    width: 100%;
			        max-width: 490px;
				    padding: 6px 0;
				    vertical-align: middle;
				    font-size: 13px;
	  			}
	  			.topo .menu-topo .busca .campo::placeholder {
	  				color: var(--rosaescuro);
	  				font-weight: 500;
	  				font-family: var(--k2d);
	  				font-size: 15px;
	  				padding: 0 18px;
	  			}
	  		.topo .menu-topo .carrinho {

	  		}
	  			.topo .menu-topo .carrinho figure {
			        width: 100%;
				    max-width: 32px;
				    display: inline-block;
				    margin: 0px auto;
	  			}
	  				.topo .menu-topo .carrinho figure a {

	  				}
		  				.topo .menu-topo .carrinho figure a img {
	  					    width: 100%;
						    max-width: 30px;
						    margin: 14px auto;
		  				}
				.topo .menu-topo .carrinho p {
			        display: inline-block;
				    background: #ffdae9;
				    width: 26px;
				    text-align: center;
				    border-radius: 100%;
				    padding: 3px;
				    color: var(--rosaescuro);
			        vertical-align: sub;
				}


/*@MEDIA QUERY*/
@media(max-width: 1280px){
	.topo .menu-topo .busca .campo {
        max-width: 435px;
	}
}

@media(max-width: 1240px){
	.topo .menu-topo .busca .campo {
		max-width: 400px;
	}
	
}

@media(max-width: 1200px){

}

@media(max-width: 1140px){
	.topo .menu-topo .navbar .collapse .nav li a {
	    padding: 6px 5px;
	}
	.topo .menu-topo .navbar {
	    margin: 0 auto;
	    width: 100%;
	    text-align: center;
	    max-width: 340px;
	}
}

@media(max-width: 1060px) {
	.topo .menu-topo .busca .campo {
	    max-width: 360px;
	}
	.topo .menu-topo .navbar {
	    width: 100%;
	}
}

@media(max-width: 991px){
	.topo .menu-topo .navbar {
	    width: 100%;
	    max-width: 100%;
	    text-align: center;
	}
	.navbar-header {
	        width: 100%;
	    float: initial;
	}
	.topo .menu-topo .navbar .collapse .nav {
	    text-align: center;
	    float: initial;
	}
	.topo .menu-topo .navbar .collapse {
        text-align: center;
	    width: 100%;
        max-width: 385px;
	    margin: 0px auto;
	}
	.topo .menu-topo .navbar .collapse .nav li a {
	    padding: 6px 10px;
	}
	.topo .menu-topo .busca {
        max-width: 620px;
	    margin: 0 auto;
	    width: 100%;
	    text-align: right;
	}
	.topo .menu-topo .busca .sub {
	    display: inline-block;
	}
	.topo .menu-topo .busca .campo {
	    max-width: 324px;
	    display: inline-block;
	}
	.topo .menu-topo .carrinho figure {
       display: inline-block;
		text-align: left;
	}

}
@media(max-width: 930px) {
	.topo .menu-topo .busca {
	    max-width: 580px;
	}
}

@media(max-width: 870px) {
	.topo .menu-topo .busca {
	    max-width: 550px;
	}
}

@media(max-width: 810px){
	.topo .menu-topo .busca {
	    max-width: 490px;
	}
}

@media(max-width: 768px) {
	.topo .menu-topo .busca .campo {
	    max-width: 448px;
	    display: inline-block;
	}
	.topo .menu-topo .carrinho {
	    text-align: center;
	}
	.topo .menu-topo .navbar button {
       display: block;
	    background: red;
	    margin: 0;
	    padding: 6px;
        width: 34px;
    	height: 26px;
	}
	.topo .menu-topo .carrinho {
	    text-align: center;
	}
}

@media(max-width: 500px) {
	.topo .menu-topo .busca {
	    max-width: 460px;
	}
	.topo .menu-topo .busca .campo {
	    max-width: 420px;
	    display: inline-block;
	}
}

@media(max-width: 425px){
	.topo .menu-topo .busca {
	    max-width: 380px;
	}
	.topo .menu-topo .busca .campo {
	    max-width: 340px;
	    display: inline-block;
	}
}

@media(max-width: 320px){
	.topo .menu-topo .busca {
	    max-width: 280px;
	}
	.topo .menu-topo .busca .campo {
	    max-width: 237px;
	    display: inline-block;
	}
}